{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" >
  <title>Crypto Coin v:1.0</title>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  {% include 'navbar.html'%}

  <br />
  <center class="row">
    <form action="" method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <div class="row" >  
    <div class="col-md-6 col-md-offset-3">
      <hr>  
      <p class="text-info">Cotação atual: {{hoje}} do {{cotacao.USDBRL.name}}, é de R$<a class="text-danger">{{valorbrl}}</a></p>   
      <hr>
      <table class="table bg-info">
        <tr class="table-bordered th text-center">
          <th >RANK</th><th>NOME</th><th>SIMBOLO</th><th>MOEDA U$</th><th>MOEDA R$</th><th> % em 1H </th><th> % em 24H </th>
        </tr>      
        {% for moeda in coin %}
        <tr class="table-bordered td text-center">
          <td class="text-danger">{{moeda.rank}}</td>
          <td>{{moeda.name}}</td>
          <td><i href="'{{moeda.logo}}'"></i> {{moeda.symbol}}</td>
          <td class="text-info">{% if moeda.percent_change_1h > 0 %}<i class="glyphicon glyphicon-arrow-up text-success"> {% else %} <i class="glyphicon glyphicon-arrow-down text-danger"> {% endif %}</i>{{moeda.price_usd}}</td>
          <td class="text-info">{{moeda.price_br}}</td>
          <td class="text-info">{% if moeda.percent_change_1h > 0 %}<b class="text-success"> {% else %}<b class="text-danger">{% endif %}{{moeda.percent_change_1h}}</b></td>
          <td class="text-info">{% if moeda.percent_change_24h > 0 %}<b class="text-success"> {% else %}<b class="text-danger">{% endif %}{{moeda.percent_change_24h}}</b></td>
        </tr>
        {% endfor %}
      </table>
      <hr>
    </div>
  </div>
</body>

</html>