<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Crypto Coin v:1.0 - Whale</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="row" style="background: rgb(38, 157, 204); color: white;">
    <div align="center"><h1 class="col-md-3 text-center">Crypto Coin - Whale Alert</h1></div>
  </nav>
  <br />
  <br />
  <center class="row">
    <form action="" method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <div class="row">  
    <div class="col-md-12 col-md-offset-1">
      <hr>  
      <p class="text-info">Cotação atual: {{hoje}} do {{cotacao.USDBRL.name}}, é de R$<a class="text-danger">{{valorBRL}}</a></p>   
      <hr>
      <table class="table table-responsive table-condensed table-bordered bg-info">
        <tr class="th h4 text-center">
          <th>Data</th><th>Rede</th><th>Moeda</th><th>Valor Crypto</th><th>Valor Dolar</th><th>Valor Real</th><th>De</th><th>Para</th>
        </tr>      
        {% for transaction in transactions %}
        <tr class="text-center ">
          <td class="text-info small">{{transaction.time}}</td>
          <td class="text-danger">{{transaction.name}}</td>
          <td class="text-success">{{transaction.symbol}}</td>
          <td class="text-info">{{transaction.amount}}</td>
          <td class="text-info">{{transaction.amount_usd}}</td>
          <td class="text-info">{{transaction.amount_brl}}</td>
          <!--<td class="text-info col-md-1">{{transaction.hash}}</td>-->
          <td class="text-info">{{transaction.from.owner}}|{{transaction.from.address}}</td>
          <td class="text-info">{{transaction.from.owner}}|{{transaction.to.address}}</td>
                  
        </tr>
        {% endfor%}
      </table>
      <hr>     
    </div>
  </div>
</body>

</html>